openapi: 3.0.1
info:
  title: BYR Projects
  description: BYR Projects
  version: 0.0.1
servers:
  - url: http://www.bayarprojects.com
    description: Bayar Projects First Page

paths:
  /auth/register:
    post:
      tags:
        - auth
      summary: Register user into the system
      operationId: register
      requestBody:
        $ref: '#/components/requestBodies/RegisterRequestBody'
      responses:
        201:
          $ref: '#/components/responses/RegisterResponseBody'
        default:
          $ref: '#'

components:
  requestBodies:
    RegisterRequestBody:
      description: register user request body
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/RegisterRequest'

  responses:
    RegisterResponseBody:
      description: Register Response Body
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/RegisterResponse'
    ErrorResponseBody:
      description: General Error Response Body
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

  schemas:
    RegisterRequest:
      required:
        - username
        - password
      properties:
        username:
          type: string
          example: bayarerman@gmail.com
        password:
          type: string
          example: 1234
    RegisterResponse:
      required:
        - responseMessage
      properties:
        responseMessage:
          type: string
    ErrorResponse:
      required:
        - code
        - message
        - type
      properties:
        code:
          type: string
        message:
          type: string
        type:
          type: string



